body {
    font-family: sans-serif;
}

h1 {
    color:rgb(26, 26, 86);
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24;
    font-family: sans-serif;
    text-align: center;
}

.system-list {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
}

.card-system {
    width: 60px;
    height: 40px;
    border-radius: 3px;
}

.visa {
    background-image: url('../images/visa.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mir {
    background-image: url('../images/mir.png');
    background-color: rgb(241, 241, 241);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.unionpay {
    background-image: url('../images/unionpay.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mastercard {
    background-image: url('../images/mastercard.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    gap: 1%;
}

.input {
    font-size: 14px;
    width: 66%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
}

.button {
    font-size: 14px;
    border: 0;
    color: white;
    border-radius: 3px;
    background-color: rgb(55, 55, 145);
    height: 30px;
    width: 33%;
}

.button:hover {
    background-color: rgb(67, 67, 164);
}

.button:active {
    background-color: rgb(67, 67, 164);
    box-shadow: inset 0px 0px 10px 5px rgb(55, 55, 145);
}

.input:focus {
    border: 0;
    outline: 1px solid rgb(55, 55, 145);
    outline-offset: -1px;
}

.active {
    outline: 2px solid rgb(55, 55, 145);
}

.inactive {
    opacity: 50%;
}

.message.invisible {
    display: none;
}

.message {
    margin-top: 15px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px
}